body{
    height: 100vh;
    background: rgb(117,117,117);
    background: linear-gradient(0deg, rgb(117,117,117) 80%, rgb(0,196,24) 70%, rgb(0,196,24) 100%);
}

#main-info {
    height: 90vh;
}

.display-n {
    display: none;
}

.display-y {
    display: block;
}


#chat-info {
    background-color: white;
}

img {
    border-radius: 50%;
}

.background-gray {
    background-color: lightgray;
}

i {
    color: darkgray;
}

#silencer {
    background-color: rgb(65, 208, 255);
}

#bell {
    color:rgb(65, 208, 255);
}

.hover:hover {
    background-color: #dedede;
}

.bck-bell {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.text-gray {
    color: gray;
}

#messagges-info {
    height: 10%;
}

#user-pic {

}

/* # MESSAGGES */

#messagges-chat {
    background-image: url(../img/mine.jpg);
    height: 80%;
}

#messagges-letters {
    height: 10%;
}

.message-container {
    display: flex;
}

.message-container.sent {
    justify-content: flex-end;
}
.message-container.received {
    justify-content: flex-start;
}

.message-container.sent .message {
    background-color: #d5f9ba;
}

.message-container.received .message {
    background-color: #fff;
}

.message-container .message p {
    margin-bottom: 0;
}

.message-container .message time {
    display: block;
    text-align: right;
    font-size: 11px;
    color: #aaa;
}

#chat {
    overflow-y: visible;
}