body{
    height: 100vh;

    /* TODO cercare come farlo esattamente come lo screen */
    background: linear-gradient(green, darkgray);
}

#main-info {
    height: 90%;
}



#chat-info {
    background-color: white;
}

img {
    border-radius: 50%;
}

.background-gray {
    background-color: lightgray;
}

i {
    color: darkgray;
}

#silencer {
    background-color: rgb(51, 168, 207);
}

#bell {
    border-radius: 50%;
}

#messagges-info {
    height: 10%;
}

#user-pic {

}

#messagges-chat {
    background-image: url(../img/mine.jpg);
    height: 80%;
}

#messagges-letters {
    height: 10%;
}

.background-sent {
    height: 80px;
    width: 120px;
    background-color: lightgreen;
}

.background-received {
    height: 80px;
    width: 120px;
 background-color: lightgrey;
}

#chat {
    overflow-y: visible;
}