body{
    height: 100vh;

    /* TODO cercare come farlo esattamente come lo screen */
    background: linear-gradient(green, darkgray);
}

#main-info {
    /* background-color: black; */
    height: 90%;
}

#user-info img {
    border-radius: 50%;
}

.background-gray {
    background-color: lightgray;
}